<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg"><a href="{{ base_path }}/">{{ site.title }}</a></li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
            {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item">
              <a href="{{ domain }}{{ link.url }}">{{ link.title }}</a>
              {% if link.subsections %}
                <ul class="submenu">
                  {% for subsection in link.subsections %}
                    <li class="masthead__submenu-item">
                      <a href="{{ domain }}{{ subsection.url }}">{{ subsection.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>

<style>
  .submenu {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  }
  
  .masthead__menu-item:hover .submenu {
    display: block;
  }

  .masthead__submenu-item {
    list-style: none;
  }

  .masthead__submenu-item a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #333;
  }

  .masthead__submenu-item a:hover {
    background-color: #f5f5f5;
  }
</style>